node_modules
dist
.env
.DS_Store
.idea
*.tsbuildinfo
**/*.tsbuildinfo

apps/api/dist
apps/console/.next
apps/console/tsconfig.tsbuildinfo
apps/api/uploads
apps/api/.env
apps/server-java/target
apps/server-java/.idea
uploads

# logs
*.log
logs/
apps/server-java/logs/
